/**
 * @file
 * Subtheme specific CSS.
 */
 
/************/
/** Layout **/
/************/

.bs-region .block {
	margin-bottom: 2rem;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px !important;
    }
}


/****************/
/** Typography **/
/****************/

#page-wrapper a,
#page-wrapper .link {
    color: #253f8e;
}

#page-wrapper a:hover,
#page-wrapper a:focus,
#page-wrapper .link:hover,
#page-wrapper .link:focus {
    color: #018fe2;
}

a:active,
.link:active {
    color: #23aeff;
}

body {
	font-family: Lato, sans-serif;
}

#page-wrapper .breadcrumb {
	font-size: 1.15rem;
	background-color: white !important;
	border: 1px solid rgba(0,0,0,0.1);
}

img {
	max-width: 100%;
	height: auto;
}

.btn {
	white-space: normal !important;
}

#page-wrapper h1 {
	margin-bottom: 2rem;
}

#page-wrapper h2 {
	font-size: 1.75rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

/*
#page-wrapper a h1,
#page-wrapper a:hover h1,
#page-wrapper a h2,
#page-wrapper a:hover h2,
#page-wrapper a h3,
#page-wrapper a:hover h3,
#page-wrapper a h4,
#page-wrapper a:hover h4,
#page-wrapper a h5,
#page-wrapper a:hover h5 {
	color: black;
	text-decoration: none;
}
*/

#page-wrapper .home-events-grid .view-content h2 {
	font-size: 1.35rem;
}

#page-wrapper .site-footer h2 {
	color: #253f8e;
}

#page-wrapper footer h2 {
	font-size: 1.2rem;
/* 	margin-bottom: 1.25rem; */
}

#page-wrapper .accordion h2,
#page-wrapper .accordion h3 {
	margin: 0;
}

#page-wrapper .accordion h2 a,
#page-wrapper .accordion h3 a {
	font-size: 1.35rem;
}

body.staff-directory #page-wrapper .accordion h2 a,
body.staff-directory #page-wrapper .accordion h3 a {
	font-size: 1.1rem;
}

#page-wrapper h3 {
	font-size: 1.45rem;
	margin-bottom: 0.75rem;
}

#page-wrapper h4 {
	font-size: 1.35rem;
}

#page-wrapper h5 {
	font-size: 1.3rem;
}

#page-wrapper h6 {
	font-size: 1.25rem;
}

#page-wrapper p,
/* body #block-rsd-district-content, */
body .site-section-branding,
#page-wrapper .main-content ul li,
#page-wrapper .main-content ol li {
	font-size: 1.2rem;
}

#page-wrapper nav.tabs .nav-item a,
#page-wrapper nav.tabs .nav-item .nav-link {
	font-size: 1rem;
}

#page-wrapper p.small-text {
	font-size: 1.1rem;
}

#page-wrapper .home-news-grid p {
	font-size: 1rem;
}

#page-wrapper .navbar-subpages a {
	font-size: 1.35rem;
}

#page-wrapper ul.pagination li {
	font-weight: 400;
	font-size: 1rem;
}

#page-wrapper .block-views .file a {
	font-size: 1.15rem;
}

#content blockquote {
    position: relative;
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    background: rgba(230, 230, 230, 0.65);
    border-radius: 0.625rem;
}

.block-social-media-links .platforms .fa {
	color: #253f8e;
}

.main-content .content .nav-item {
	line-height: 1.65rem;
}

/*
.main-content a:hover {
	font-weight: bold;
}
*/

body #page-wrapper .block-page-title-block h1 {
	position: relative;
	bottom: -2.5rem;
	background: #d0e4f3;
	color: rgba(37, 63, 143, 1);;
	border-radius: 0.625rem;
	padding: 1rem 2.25rem;
	margin: 0rem -1.5rem 4rem -1.5rem;
	clear: both;
}

body.our-district-story #page-wrapper .block-page-title-block h1 {
	position: relative;
	bottom: 0;
	background: #d0e4f3;
	color: rgba(37, 63, 143, 1);;
	border-radius: 0.625rem;
	padding: 1rem 2.25rem;
	margin: 0rem -1.5rem;
	clear: both;
}

.view-content .text-white a {
	color: white !important;
}

.flex-grid .card .card-link-text {
	font-size: 1.5rem;
	color: white;
}

.flex-grid .card .card-link-text a,
.flex-grid .card .card-link-text a:hover {
	font-weight: 700;
	color: white;
	text-decoration: none;
}

#page-wrapper p, 
#page-wrapper .block-menu .nav {
	font-weight: 400;
}

#page-wrapper .main-content p,
#page-wrapper .main-content div {
	font-weight: 300;
	line-height: 1.65;
}

@media (max-width: 1023px) {
	.sd38-home-carousel .slide__caption {
        position: relative;
        left: 4%;
        width: 92%;
        padding: 0px 40px;
    }
    
    .sd38-home-carousel .slide__link {
		margin: 10px auto;
	}
    
    #page-wrapper .slide__caption p {
        font-size: 1rem;
        line-height: 1.3;
    }
}

@media (min-width: 1024px) {
	.sd38-home-carousel .slide__caption {
        position: absolute;
        top: 0;
        padding: 0px 60px;
    }
    
    .sd38-home-carousel .slide__link {
		margin: 15px auto;
	}
    
    #page-wrapper .slide__caption p {
        font-size: 1.15rem;
        line-height: 1.4;
    }
    
    .sd38-home-carousel .slide__title a {
	    font-size: 2rem;
    }
    
    .sd38-home-carousel .slide__description {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	.sd38-home-carousel .slide__caption {
        position: absolute;
        padding: 30px 60px;
    }
    
    .sd38-home-carousel .slide__link {
		margin: 30px auto;
	}
	
	#page-wrapper .slide__caption p {
        font-size: 1.15rem;
        line-height: 1.6;
    }
    
    .sd38-home-carousel .slide__title a {
	    font-size: 2.75rem;
    }
    
    .sd38-home-carousel .slide__description {
		font-size: 1.25rem;
	}
}



/*******************************/
/** Home Page Carousel Styles **/
/*******************************/

.sd38-home-carousel .slick--view {
	padding-left: 15px;
	padding-right: 15px;
}

.sd38-home-carousel .slide__media img {
	overflow: hidden;
	border-radius: 1.25rem;
}

.sd38-home-carousel .slick-list {
	border-radius: 1.25rem;
	box-shadow: 0 7px 25px 0 rgba(0,0,0,0.03),0 4px 12px 0 rgba(0,0,0,0.03);
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.sd38-home-carousel .slick-dots {
	bottom: -35px;
}

.sd38-home-carousel .slick-arrow {
	width: 60px;
	-webkit-transform: translateY(-60%);
	transform: translateY(-60%);
}

.sd38-home-carousel .slick-arrow::before {
	color: rgba(120, 120, 120, 0.75);
}

.sd38-home-carousel .slick-dotted.slick-slider {
	margin-bottom: 10px;
}

.sd38-home-carousel .slide__title a {
	color: rgba(0, 0, 0, 0.65);
}

.sd38-home-carousel .slide__caption {
	top: 0;
}

.sd38-home-carousel button.slick-prev {
	left: 15px;
}

.sd38-home-carousel button.slick-next {
	right: 15px;
}



/******************************/
/** Main Site Navigation Bar **/
/******************************/

#navbar-top {
    background-color: #37a89a;
	padding: .2rem 1rem;
}

#navbar-top .row {
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}

#navbar-top .container > .row {

}

.navbar-brand {
	margin: 20px 20px 20px 0px;
}

.navbar-brand img {
	max-width: 250px;
}

button.navbar-toggler {
	background: rgb(37,63,142);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/** Enable Navbar dropdowns on hover for desktop view - See Javascript as well **/
@media screen and (min-width:768px) {
	.navbar-nav .dropdown:hover>.dropdown-menu {
		display:block;
		margin:0
	}
}

/** More CSS for mobile friendly dropdown menus **/
@media screen and (max-width:767px) {
	.menu--main .dropdown > a.nav-link {
		
	}
	.menu--main .dropdown > .menu-toggle {
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid rgba(37, 63, 143, 0.1);
		border-radius: 4px;
		padding: 0.25rem 1.2rem;
		background-color: rgba(37, 63, 143, 0.05);
		color: rgb(37,63,142);
	}
	.menu--main .dropdown > .dropdown-menu {
		border: none;
		box-shadow: none;
	}
}

/********************************/
/** Card / Content Grid Styles **/
/********************************/

.block-views,
.block-layout-builder {
	margin: 0;
}

.views-view-grid {
	width: 100%;
}

.view-sd38-feature-pages .card {
	border-radius: 0.625rem !important;
	overflow: hidden;
	box-shadow: 0 7px 25px 0 rgba(0,0,0,0.03),0 4px 12px 0 rgba(0,0,0,0.03);
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.view-sd38-feature-pages .card .card-link-text {
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 1.1;
	text-align: left;
	padding: 1rem 1rem;
	width: 100%;
	background: rgb(37,63,142);
	background: linear-gradient(45deg, rgba(37,63,142,0.89) 0%, rgba(55,168,154,0.97) 100%);
}

.view-sd38-feature-pages .card:hover .card-link-text {
	background: linear-gradient(45deg, rgba(37,63,142,1) 0%, rgba(55,168,154,1) 100%);
}

.view-sd38-feature-pages .card img {
	opacity: 0.85;
}

.view-sd38-feature-pages .card:hover img {
	opacity: 1;
}

.card-deck .col, .card-deck .col-1, .card-deck .col-10, .card-deck .col-11, .card-deck .col-12, .card-deck .col-2, .card-deck .col-3, .card-deck .col-4, .card-deck .col-5, .card-deck .col-6, .card-deck .col-7, .card-deck .col-8, .card-deck .col-9, .card-deck .col-auto, .card-deck .col-lg, .card-deck .col-lg-1, .card-deck .col-lg-10, .card-deck .col-lg-11, .card-deck .col-lg-12, .card-deck .col-lg-2, .card-deck .col-lg-3, .card-deck .col-lg-4, .card-deck .col-lg-5, .card-deck .col-lg-6, .card-deck .col-lg-7, .card-deck .col-lg-8, .card-deck .col-lg-9, .card-deck .col-lg-auto, .card-deck .col-md, .card-deck .col-md-1, .card-deck .col-md-10, .card-deck .col-md-11, .card-deck .col-md-12, .card-deck .col-md-2, .card-deck .col-md-3, .card-deck .col-md-4, .card-deck .col-md-5, .card-deck .col-md-6, .card-deck .col-md-7, .card-deck .col-md-8, .card-deck .col-md-9, .card-deck .col-md-auto, .card-deck .col-sm, .card-deck .col-sm-1, .card-deck .col-sm-10, .card-deck .col-sm-11, .card-deck .col-sm-12, .card-deck .col-sm-2, .card-deck .col-sm-3, .card-deck .col-sm-4, .card-deck .col-sm-5, .card-deck .col-sm-6, .card-deck .col-sm-7, .card-deck .col-sm-8, .card-deck .col-sm-9, .card-deck .col-sm-auto, .card-deck .col-xl, .card-deck .col-xl-1, .card-deck .col-xl-10, .card-deck .col-xl-11, .card-deck .col-xl-12, .card-deck .col-xl-2, .card-deck .col-xl-3, .card-deck .col-xl-4, .card-deck .col-xl-5, .card-deck .col-xl-6, .card-deck .col-xl-7, .card-deck .col-xl-8, .card-deck .col-xl-9, .card-deck .col-xl-auto {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

@media screen and (max-width:767px) {
	.flex-grid .card {
		margin-bottom: 15px;
	}
}

/*****************************/
/** Calendar / Event Styles **/
/*****************************/

.home-events-grid .event .wrapper {
	background: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(37,63,142,0.05) 100%);
	border-radius: 0.625rem !important;
	overflow: hidden;
	box-shadow: 0 7px 25px 0 rgba(0,0,0,0.03),0 4px 12px 0 rgba(0,0,0,0.03);
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
	padding: 1rem;
	height: 100%;
}

.home-events-grid .event:hover .wrapper {
	background: rgb(37,63,142);
	background: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(37,63,142,0.08) 100%);
}

.home-events-grid .event a.event-body {
	color: rgb(37,63,142);
}

.home-events-grid .event a.event-body .event-date {
	margin: 0;
}

.view-sd38-events .card a:hover {
	text-decoration: none;	
}

.home-events-grid .event h2 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 0.25rem !important;
	margin-bottom: 0.25rem !important;
}

.flex-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.view-sd38-events .flex-grid .card {
		width: 47.5%;
	}
	.view-sd38-news .flex-grid .card {
		width: 100%;
	}
	.view-sd38-feature-pages .card {
		width: 31.5%;
	}
}

@media (min-width: 992px) {
	.view-sd38-events .flex-grid .card {
		width: 22.5%;
	}
	.view-sd38-news .flex-grid .card,
	.view-sd38-feature-pages .card {
		width: 31.5%;
	}
}

@media (min-width: 1200px) {
	.view-sd38-events .flex-grid .card {
		width: 22.5%;
	}
	.view-sd38-news .flex-grid .card,
	.view-sd38-feature-pages .card {
		width: 31.5%;
	}
}

.fc-today {
	background: #d0e4f3 !important;
}

.fc-view tr {
	background: rgba(0,0,0,0.02);
}

.site-footer .content,
.site-footer .content a, 
.site-footer .content a.is-active,
.site-footer .content a:hover,
.site-footer .content a:focus {
	color: rgba(0, 0, 0, 1);
}

#navbar-top .content,
#navbar-top .nav a,
#navbar-top .content a {
	color: white;
}

.navbar-subpages {
	display:flex;  
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
}

.navbar-subpages::after {
	content: "";
	flex: auto;
}

.navbar-subpages .nav-item {
	flex-basis: 100%;
	background: rgba(224, 224, 224, 0.25);
	border: 1px rgba(0, 0, 0, 0.15) solid;
	padding: 0.125rem;
	margin-bottom: 0.625rem;
	border-radius: 0.25rem;
}

@media screen and (min-width:768px) {
	.navbar-subpages .nav-item {
		flex-basis: 49%;
		margin: 0.5%;
	}
}

#navbar-top .block-search .container-inline {
	float: right;
}

#navbar-top .form-group {
	margin-bottom: 0;
}

@media screen and (max-width:767px) {
	#navbar-top #search-block-form {
		padding: 5px 0px;
	}
	
	#navbar-top .gtranslate select {
		width: 85%;
	}
	
	#navbar-top .gtranslate {
		margin: 3px 0px;
	}
	.navbar-brand img {
		max-width: 200px;
	}
}

#navbar-main {
    background-color: white;
	padding: 0.2rem 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body.path-frontpage #navbar-main {
	border-bottom: 0px;
}

#navbar-main .active.dropdown-toggle {
	background-color: rgba(209, 229, 243, 0.5);
	border-radius: 4px;
}

#navbar-main .dropdown-menu a:hover {
	text-decoration: none;
}

#navbar-main .dropdown-item.active {
}

#navbar-main .dropdown-item:active {
	background-color: #d0e4f3;
}

#navbar-main .dropdown-menu a.active {
	color: white;
}

.site-footer {
    background: #d0e4f3;
	padding-bottom: 0;
}

.site-footer .block {
/* 	border: 1px solid red; */
	margin: 0px;
}

.menu-footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.menu-footer nav {
	margin-bottom: 1.5rem !important;
}

.menu-footer nav h2 {
	margin: 0 !important;
}

.menu-footer .nav-link {
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}

.copyright-footer,
.address-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 1rem 0 1rem 0;
}

.copyright-footer {
	color: rgba(255, 255, 255, 0.8);
	background-color: #253f8e;
}

.address-footer {
	color: rgba(0, 0, 0, 0.8);
}

.header .block-search .form-search.form-control,
.site-footer .block-search .form-search.form-control {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.header .block-search .form-control.btn-primary,
.site-footer .block-search .form-control.btn-primary {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.45);
}

[class^="file"] {
	background-position: 0px;
	padding: 0.25rem 0 0.25rem 2rem;
	background-size: 1.5rem;
	background-image: url('../images/icons/application-pdf.png');
	background-repeat: no-repeat;
}

.view-file-list ul li {
	font-size: 1rem;
	word-break: break-word;
}

.item-list {
	margin-bottom: 0.75rem;
}


/************************/
/** Our District Story **/
/************************/

body.our-district-story .featured-top {
}

.our-district-story #main-wrapper blockquote {
	padding: 2rem 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.our-district-story.our-story .main-content h1,
.our-district-story.our-story .main-content h2,
.our-district-story.our-story .main-content h3,
.our-district-story.our-story .main-content h4,
.our-district-story.our-story .main-content a,
.our-district-story.our-story .site-section-branding a.is-active,
.our-district-story .site-section-branding .active a,
.our-district-story #page-wrapper .block-page-title-block h1,
.our-district-story.our-story #content blockquote {
	color: #367ebd;
}

.our-district-story.our-story #content blockquote,
.our-district-story.our-story .nav-pills .nav-link.active, 
.our-district-story.our-story .nav-pills .nav-link.is-active,
.our-district-story .nav-pills .nav-link.active, 
.our-district-story .nav-pills .nav-link.is-active,
.our-district-story #page-wrapper .block-page-title-block h1,
.our-district-story.our-story .nav-pills .show>.nav-link {
	background-color: rgba(55, 127, 189, 0.1);
}

.our-district-story.our-focus .main-content h1,
.our-district-story.our-focus .main-content h2,
.our-district-story.our-focus .main-content h3,
.our-district-story.our-focus .main-content h4,
.our-district-story.our-focus .main-content a,
.our-district-story.our-focus .site-section-branding .active a,
.our-district-story.our-focus #page-wrapper .block-page-title-block h1,
.our-district-story.our-focus #content blockquote {
	color: #619820;
}

.our-district-story.our-focus #content blockquote,
.our-district-story.our-focus .nav-pills .nav-link.active,
.our-district-story.our-focus .nav-pills .nav-link.is-active,
.our-district-story.our-focus #page-wrapper .block-page-title-block h1,
.our-district-story.our-focus .nav-pills .show>.nav-link {
	background-color: rgba(97, 153, 32, 0.1);
}

.our-district-story.our-learning .main-content h1,
.our-district-story.our-learning .main-content h2,
.our-district-story.our-learning .main-content h3,
.our-district-story.our-learning .main-content h4,
.our-district-story.our-learning .main-content a,
.our-district-story.our-learning .site-section-branding .active a,
.our-district-story.our-learning #page-wrapper .block-page-title-block h1,
.our-district-story.our-learning #content blockquote {
	color: #ec8c0f;
}

.our-district-story.our-learning #content blockquote,
.our-district-story.our-learning .nav-pills .nav-link.active,
.our-district-story.our-learning .nav-pills .nav-link.is-active,
.our-district-story.our-learning #page-wrapper .block-page-title-block h1,
.our-district-story.our-learning .nav-pills .show>.nav-link {
	background-color: rgba(238, 142, 15, 0.1);
}


body .featured-top {
	background: url('../images/PageBanner-opaque1.png');
	background-size: cover !important;
	background-position: center center;
	padding: 6.5rem 0 0 0;
}

body.our-district-story .featured-top {
	background: unset;
	padding: 0;
}

.featured-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba(209, 229, 243, 0.45);
}

.ods-header-row {
	align-items: center;
	justify-content: center;
}

.site-section-branding {
	margin: 1.5rem auto;
}

.node__content > .row,
section.section > .block-views {
	margin: 0 0 2.25rem 0;
}

.path-frontpage section.section > .block-views {
	margin: 0 0 0rem 0;
}

.layout-main-wrapper {
	padding: 0 0 2rem 0;
}

.gtranslate select {
    display: block;
    line-height: 1.3;
    color: rgba(0,0,0,0.45);
    padding: .4em 1.4em .3em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: .25em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}



/************************/
/** Content Accordions **/
/************************/

.accordion {
	width: 100%;
}

body.staff-directory .accordion .card-header {
	padding: 0.1rem 0.3rem;
}

.accordion h2,
.accordion h3 {
	display: inline-block;
	float: left;
}



/**********************/
/** SD38 News Alerts **/
/**********************/

.sd38-news-alerts .sd38-alert h1 {
	font-size: 1.35rem;
	margin: 0 0 0.625rem 0 !important;
}

.sd38-news-alerts .sd38-alert,
.sd38-news-alerts .views-row {
	display: block;
	width: 100%;
}

body .sd38-news-alerts .sd38-alert {
	border-radius: 0.625rem;
	padding: 0.5rem 0 0.5rem 3.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	background-size: 2.5rem;
	background-position: 0.875rem center;
	background-repeat: no-repeat;
}

body.path-frontpage .sd38-news-alerts .sd38-alert {
	margin-top: 0rem;
}

.sd38-news-alerts .sd38-alert.standard-alert {
	background-color: rgba(0, 0, 255, 0.05);
	color: #24408d;
	background-image: url('../images/icons/sd38-alert.png');
	border: 1px solid rgba(36, 63, 140, 0.25);
}

.sd38-news-alerts .sd38-alert.standard-alert:hover {
	border: 1px solid #24408d;
}

.sd38-news-alerts .sd38-alert.urgent-alert {
	background-color: rgba(191, 31, 47, 0.1);
	color: #be1e2d;
	background-image: url('../images/icons/sd38-urgent-alert.png');
	border: 1px solid rgba(191, 31, 47, 0.25);
}

.sd38-news-alerts .sd38-alert.urgent-alert:hover {
	border: 1px solid #be1e2d;
}

.sd38-news-alerts .sd38-alert.warning-alert {
	background-color: rgba(248, 150, 30, 0.1);
	color: #f7941d;
	background-image: url('../images/icons/sd38-warning-alert.png');
	border: 1px solid rgba(248, 150, 30, 0.25);
}

.sd38-news-alerts .sd38-alert.warning-alert:hover {
	border: 1px solid #f7941d;
}

.sd38-news-alerts .sd38-alert.summer-alert {
	background-color: rgba(248, 150, 30, 0.1);
	color: #f7941d;
	background-image: url('../images/icons/sd38-summer-alert.png');
	border: 1px solid rgba(247, 148, 29, 0.25);
}

.sd38-news-alerts .sd38-alert.summer-alert:hover {
	border: 1px solid #f7941d;
}

.sd38-news-alerts .sd38-alert.weather-alert {
	background-color: rgba(0, 176, 240, 0.1);
	color: #00aeef;
	background-image: url('../images/icons/sd38-snow-alert.png');
	border: 1px solid rgba(0, 176, 240, 0.25);
}

.sd38-news-alerts .sd38-alert.weather-alert:hover {
	border: 1px solid #00aeef;
}

#page-wrapper .sd38-news-alerts a.sd38-alert {
	font-size: 1.15rem;
	line-height: 1.2;
}

#page-wrapper .sd38-news-alerts a.sd38-alert:hover {
	text-decoration: none;
	box-shadow: 0 7px 25px 0 rgba(0,0,0,0.03),0 4px 12px 0 rgba(0,0,0,0.03);
}

#page-wrapper .sd38-news-alerts .view-content p {
	margin-bottom: 0;
}

@media screen and (max-width:767px) {
	
	#page-wrapper .sd38-news-alerts .view-content,
	#page-wrapper .sd38-news-alerts .view-content p {
		font-size: 1rem;
	}
	
	.sd38-news-alerts .sd38-alert h1 {
		font-size: 1rem;
	}
}

body .ops-links {
	display: none;
	z-index: 999999999;
}

body.user-logged-in .ops-links {
	position: absolute;
	top: 4px;
	left: 4px;
	display: none;
}

body.user-logged-in .ops-links .dropbutton-widget {
	min-width: 8rem;
}

body.user-logged-in .ops-links .dropbutton-widget {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

body.user-logged-in .sd38-news-alerts:hover .ops-links,
body.user-logged-in .carousel:hover .ops-links,
body.user-logged-in .news-item:hover .ops-links,
body.user-logged-in .slide__content:hover .ops-links,
body.user-logged-in .event:hover .ops-links {
	display: block;
}


/*********************/
/** Digital Signage **/
/*********************/

#ds-page-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100vh;
}

#ds-mainviewer {
	background: red;
	width: 75%;
	height: 85%;
}

#ds-sidebar {
	background: blue;
	width: 25%;
	height: 85%;
}

#ds-ticker {
	background: green;
	width: 100%;
	height: 15%;
}

/******************/
/** News Feature **/
/******************/


#sd38-news-panel {
	height: 500px;
	display: flex;
	background: white;
	overflow: hidden !important;
	border-radius: 0.625rem;
	box-shadow: 0 7px 30px 0 rgba(0,0,0,0.05),0 4px 12px 0 rgba(0,0,0,0.1);
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 1199.98px) {
	#sd38-news-panel {
		height: 375px;
	}
}

@media (max-width: 991.98px) {
	#sd38-news-panel {
		height: auto;
	}
}
#sd38-news-panel .carousel-indicators {
	bottom: 5px;
	margin-bottom: 0.75rem;
}

#sd38-news-panel .carousel-indicators li {
	background-color: rgba(36, 63, 140, 0.2);
}

#sd38-news-panel .carousel-indicators .active {
	background-color: rgba(36, 63, 140, 0.75);
}

#sd38-news-panel .carousel-caption {
	position: unset;
}

#sd38-news-panel .carousel-caption .caption-content {
	position: absolute;
	right: 0;
	bottom: 2px;
	left: 0;
	padding-top: 5rem;
	padding-bottom: 1.75rem;
	text-align: left;
	background: rgba(255, 255, 255, 0.55);
	background: linear-gradient(0deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.82) 55%, rgba(255,255,255,0) 100%);
	border-radius: 0 0 0 0.625rem;
	overflow: hidden;
}

@media (max-width: 991.98px) {
	#sd38-news-panel .carousel-caption .caption-content {
		border-radius: 0;
	}
}

#sd38-news-panel .carousel-caption .caption-content p {
	font-size: 1.15rem;
	color: black;
	padding: 0 1rem;
	margin: 0;
}

#sd38-news-panel a,
#sd38-news-panel h2,
#sd38-news-panel h3 {
	color: #253f8e;
}

.news-panel {
    display: flex;
    flex-direction: column;
}
.news-panel .content {
    flex: auto;
}
.news-panel .carousel img {
	max-width: 100%;
	height: 300px;
}
.news-panel-1 {
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 991.98px) {
	.news-panel-1 {
		border-right: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}
}
.news-panel-2 {
	background: #f4f4f4;
}

.news-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	flex: 1 1 auto;
	background: rgba(255, 255, 255, 0.55);
	background: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(37,63,142,0.05) 100%);
	flex-direction: column;
	min-height: 25%;
	position: relative;
}			

@media (max-width: 991.98px) {
	.news-item {
		height: auto;
	}
}
.news-item:hover {
	background: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(37,63,142,0.08) 100%);
}

.news-item:first-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 0 0.625rem 0 0;
	overflow: hidden;
}

.news-item:last-child{
	border-bottom: none;
	border-radius: 0 0 0.625rem 0;
	overflow: hidden;
}

.news-item .row,
.news-item img {
	height: 100%;
}

.news-headline {
	background: rgba(255, 255, 255, 0.5);
	padding: 0.75rem;
	width: 100%;
}

#sd38-news-panel h2 {
	margin: 0;
	padding: 0.25rem 1rem;
}

#sd38-news-panel h3 {
	margin: 0;
	padding: 0.75rem 1rem 0 1rem;
}

#sd38-news-panel .post-date {
	font-size: 0.85rem;
	padding: 0 1rem 0.75rem 1rem;
	color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 1199.98px) {
	#sd38-news-panel h2 {
		font-size: 1.5rem;
	}
	#sd38-news-panel h3 {
		font-size: 1.1rem;
	}
}

@media (max-width: 991.98px) {
	#sd38-news-panel h2 {
		font-size: 1.5rem;
	}
	#sd38-news-panel h3 {
		font-size: 1.25rem;
	}
	#panel-sidebar .news-item {
		min-height: 5rem;
		height: auto;
	}
}

@media (max-width: 991.98px) {
	#sd38-news-panel h3 {
		font-size: 1.1rem;
	}
}

.news-item-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.carousel-item:hover h2,
.news-item:hover h3 {
	text-decoration: underline;
}

#sd38-news-panel .carousel,
#sd38-news-panel .views-element-container {
	width: 100%;
	height: 500px;
}

#sd38-news-panel .carousel .carousel-item {
	height: 500px;
}

@media (max-width: 1199.98px) {
	#sd38-news-panel .carousel {
		height: auto;
	}
	#sd38-news-panel .views-element-container {
		width: 100%;
		height: auto;
	}
	
	#sd38-news-panel .carousel .carousel-item {
		height: 375px;
	}
}

@media (max-width: 991.98px) {

	#sd38-news-panel .carousel .carousel-item {
		height: 375px;
	}
}

#sd38-news-panel .view-content.row {
	margin: 0px;
	height: 500px;
}

@media (max-width: 1199.98px) {
	#sd38-news-panel .view-content.row {
		margin: 0px;
		height: 375px;
	}
}

@media (max-width: 991.98px) {
	#sd38-news-panel .view-content.row {
		height: auto;
	}
	#sd38-news-panel .news-panel-2 .views-element-container {
		height: auto;
	}
}

#sd38-news-panel .content {
	overflow: hidden;
	border-radius: 0.625rem 0 0.625rem 0;
}

@media (max-width: 991.98px) {
	#sd38-news-panel .content {
		border-radius: 0.625rem 0.625rem 0 0;
	}
}

#sd38-news-panel .carousel .carousel-item img {
	width: 100%;
	height: 99.7%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 0.625rem 0 0 0.625rem;
}

@media (max-width: 991.98px) {
	#sd38-news-panel .carousel .carousel-item img {
		border-radius: 0.625rem 0.625rem 0 0;
	}
}

.carousel-edit {
	width: 100%;
}
	
.carousel-edit a {
	display: inline-block;
	background: #dedede;
	margin-top: 0.5rem;
	padding: 4px 20px;
	border-radius: 0.625rem;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.carousel-edit a:hover {
	background: #bcbcbc;
}